# Remove duplicates

In [3]:
import pandas as pd

In [9]:
def remove_duplicates(dataframe, duplicate_row_to_keep = "first", column_to_subset_by="time"):
   
    # Resets the dataframe index, as a precaution. I don't like sudden jumps in index values
    # Removes the duplicates.
    # 'duplicate_row_to_keep' may either be "first" or "last". The default is set to "first".
    # 'column_to_subset_by' will be the column with the timestamp values. The default is set to "time".

    
    # Make the necessary imports
    import pandas as pd
    
    # remove duplicates
    dataframe = dataframe.drop_duplicates(subset=column_to_subset_by, keep=duplicate_row_to_keep)
    
    # reset index
    dataframe.reset_index(drop=True, inplace=True)
    
    # return the duplicate removed dataframe
    return dataframe

In [10]:
# test

# Read in the csv file exported from Django backend into a dataframe
data = pd.read_csv("Parsed_Subset_Data_1s.csv", sep=',', header=0)

In [11]:
# Check for duplicates
duplicate_condition = data['time'].duplicated()
data[duplicate_condition]

Empty DataFrame
Columns: [Unnamed: 0, time, x_1s, y_1s, z_1s]
Index: []

In [12]:
# remove duplicates
new_data = remove_duplicates(dataframe=data)

In [13]:
# Check for duplicates again
duplicate_condition = new_data['time'].duplicated()
new_data[duplicate_condition]

Empty DataFrame
Columns: [Unnamed: 0, time, x_1s, y_1s, z_1s]
Index: []

# Smoothing noise

In [14]:
def smooth_noise(dataframe, window_size=5):
    # smoothes noise by running a rolling mean and drops the null columns
    # window_size is set to 5 as default
    
    # make necessary imports 
    import pandas as pd
    
    dataframe['x'] = animal1['x'].rolling(window=window_size).mean()
    dataframe['y'] = animal1['y'].rolling(window=window_size).mean()
    dataframe['z'] = animal1['z'].rolling(window=window_size).mean()
    
    return dataframe

# Calculating the x_diff, y_diff, z_diff and sum_diff

In [ ]:
def calculate_differential_values(dataframe):
    # renames x, y, z columns to add _diff with their names
    # calculates their differential values
    # calculates the sum of the (absolute) differential values
    
    # make necessary imports
    import padas as pd
    
    # rename columns    
    dataframe.rename(columns={"x":"x_diff", "y": "y_diff", "z": "z_diff"})
    
    # turn time to index
    dataframe = dataframe.set_index('time')
    
    # now calculate the differences between consecutive rows
    dataframe = dataframe.diff(axis=0, periods=1)
    
    # now drop rows with na values
    dataframe = dataframe.dropna()
    
    # now calculate the sum_diff
    dataframe['sum_diff'] = abs(dataframe['x_diff']) + abs(dataframe['y_diff']) + abs(dataframe['z_diff'])
    
    # return the changed dataframe
    return dataframe

In [ ]:
# rename columns
cow.rename(columns={ cow.columns[1]: "x_diff" }, inplace = True)
cow.rename(columns={ cow.columns[2]: "y_diff" }, inplace = True)
cow.rename(columns={ cow.columns[3]: "z_diff" }, inplace = True)